{% extends "base.html" %}

{% block title%}Home - Register {%endblock%}

{% block body%}

<div style="margin-top: 10vh;">

	<div class="container text-white ">
		<div class="di" style="font-size: 200px;">
			<div class="di">
				<span class="material-icons" style="font-size: 10rem;">
					military_tech
				</span>
			</div>
			<div class="ditext mt-1" style="font-size: 15rem;">
				<p>BT</p>
			</div>
		</div>

		<div class="row">
			<div class="col-8 col-md-offset-4">
				"Hmm...this page doesn’t exist. Try searching for something else."
			</div>
		</div>


	</div>
</div>


{%endblock%}